---
# The network connection profile provides client applications the information about the target
# blockchain network that are necessary for the applications to interact with it. These are all
# knowledge that must be acquired from out-of-band sources. This file provides such a source.
name: "{{ env }}"

# Any properties with an "x-" prefix will be treated as application-specific, exactly like how naming
# in HTTP headers or swagger properties work. The SDK will simply ignore these fields and leave
# them for the applications to process. This is a mechanism for different components of an application
# to exchange information that are not part of the standard schema described below. In particular,
# the "x-type" property with the "hlfv1" value example below is used by Hyperledger Composer to
# determine the type of Fabric networks (v0.6 vs. v1.0) it needs to work with.
x-type: "hlfv1"
x-commitTimeout: 300

# Describe what the target network is/does.
description: "TODO"

# Schema version of the content. Used by the SDK to apply the corresponding parsing rules.
version: "1.0"

# The client section will be added on a per org basis see org1.yaml and org2.yaml
{% if clientorg is defined %}
client:
  organization: {{ clientorg }}
  connection:
    timeout:
      peer:
        endorser: 300
        eventHub: 300
        eventReg: 300
      orderer: 300
{% endif %}

channels:
  businesschannel:
    # Required. list of orderers designated by the application to use for transactions on this
    # channel. This list can be a result of access control ("org1" can only access "ordererA"), or
    # operational decisions to share loads from applications among the orderers.  The values must
    # be "names" of orgs defined under "organizations/peers"
    orderers: #TODO: Channels don't always need all orderers
{% for orderer in allorderers %}
      - {{ orderer.name }}
{% endfor %}

    # Required.
    peers:
{% for peer in allpeers %}
{% set first_peer = allpeers | selectattr('org', 'equalto', peer.org) | map(attribute='name') | first %}
      {{ peer.name }}:
        endorsingPeer: true
        chaincodeQuery: true
        ledgerQuery: true
        eventSource: true #{ first_peer == peer.name | ternary('true','false') } #TODO
{% endfor %}

    # [Optional]. what chaincodes are expected to exist on this channel? The application can use
    # this information to validate that the target peers are in the expected state by comparing
    # this list with the query results of getInstalledChaincodes() and getInstantiatedChaincodes()
    
    # chaincodes:
      # the format follows the "cannonical name" of chaincodes by fabric code
      # - mycc:v0


#
# list of participating organizations in this network
#
organizations:
{% for org in peerorgs %}
  {{ org }}:
    mspid: {{ org }}
    peers:
{% for peer in allpeers %}
{% if peer.org == org %}
      - {{ peer.name }}
{% endif %}
{% endfor %}
    certificateAuthorities:
      - ca1.{{ org }} 
      #TODO
{% if clientorg is not defined %}
    adminPrivateKey:
      path: {{keyfilesdir}}/orgs/{{ org }}/admin/msp/keystore/{{ adminkeys[org] }}
    signedCert:
      path: {{keyfilesdir}}/orgs/{{ org }}/admin/msp/signcerts/cert.pem
{% endif %}
{% endfor %}


orderers:
{% for orderer in allorderers %}
  {{ orderer.name }}:
    url: grpc{{ "s" if fabric.tls }}://{{ orderer.name }}:7050
  
    # these are standard properties defined by the gRPC library
    # they will be passed in as-is to gRPC client constructor
    # grpcOptions:
    #   ssl-target-name-override: {{ orderer.name }} #tlsca.example.com #
    #    grpc-max-send-message-length: 15

    tlsCACerts:
      path: {{keyfilesdir}}/{{ orderer.org }}-ca-chain.pem
{% endfor %}


peers:
{% for peer in allpeers %}
  {{ peer.name }}:
    url: grpc{{ "s" if fabric.tls }}://{{ peer.name }}:7051
    eventUrl: grpc{{ "s" if fabric.tls }}://{{ peer.name }}:7053
    tlsCACerts:
      path: {{keyfilesdir}}/{{ peer.org }}-ca-chain.pem

{% endfor %}


# Fabric-CA is a special kind of Certificate Authority provided by Hyperledger Fabric which allows
# certificate management to be done via REST APIs. Application may choose to use a standard
# Certificate Authority instead of Fabric-CA, in which case this section would not be specified.
#
certificateAuthorities:
{% for ca in allcas if ca.org in peerorgs %}
  {{ ca.name }}:
    url: http{{ "s" if fabric.tls }}://{{ ca.name }}:7054

    # the properties specified under this object are passed to the 'http' client verbatim when
    # making the request to the Fabric-CA server
    httpOptions:
      verify: false
    tlsCACerts:
      path: {{keyfilesdir}}/{{ ca.org }}-ca-chain.pem
{% if clientorg is not defined %}
    # Fabric-CA supports dynamic user enrollment via REST APIs. A "root" user, a.k.a registrar, is
    # needed to enroll and invoke new users.
    registrar:
      - enrollId: admin-{{ ca.org }}
        enrollSecret: adminpw
    # [Optional] The optional name of the CA.
    caName: {{ ca.name }}
{% endif %}
{% endfor %}
