---
version: '2'

services:

  {{ server }}:
    container_name: {{ server }}
    build:
      context: .
      dockerfile: Dockerfile-server
    network_mode: bridge
    hostname: {{ server }}
    environment:
      - CORE_LOGGING_LEVEL=debug
      - HFC_LOGGING={"debug":"console"}
    working_dir: /app
    command: bash -c 'chmod +100 testAPI.sh;
                      npm install;
                      node app & wait $$!'
    ports:
      - 4000:4000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - {{ fabricworkdir }}/run/app/:/app/
      - {{ fabricworkdir }}/run/configs/:/configs/
      - {{ fabricworkdir }}/run/keyfiles:/etc/hyperledger/allorgs
      - {{ fabricworkdir }}/run/keyfiles/chaincode:/app/src/chaincode

