---
version: '2'

services:

{% for server in servers %}
  {{ server }}:
    container_name: {{ server }}
    build:
      context: .
      dockerfile: Dockerfile-server
    network_mode: bridge
    hostname: {{ server }}
    environment:
      - CORE_LOGGING_LEVEL=debug
      - HFC_LOGGING={"debug":"console"}
    working_dir: /app
    # tcpdump -i eth0 -w /out.log -s 0 -vvv &
    # npm install TODO
    command: bash -c 'chmod +100 testAPI.sh;
                      node app & SPID=$$!;
                      sleep 2;
                      ./testAPI.sh -l node;
                      wait $$SPID;'
    tty: true
    ports:
      - 4000:4000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - {{ fabricworkdir }}/run/app/:/app/
      - {{ fabricworkdir }}/run/keyfiles:/etc/hyperledger/allorgs
      - {{ fabricworkdir }}/run/keyfiles/chaincode:/app/src/chaincode
{% endfor %}
