[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After= network.target
#docker.socket
Requires=docker.socket

[Service]
Type=notify
Environment="DOCKER_OPT_BIP=--bip={{ bip.stdout }}"
Environment="DOCKER_OPT_MTU=--mtu={{ mtu.stdout }}"
Environment="DOCKER_OPT_DNS=--dns={{ node_ip }}"
Environment="DOCKER_OPT_DNS_SEARCH=--dns-search={{ domain }}"
#Environment="DOCKER_OPT_STORAGE_DRIVER=--storage-driver=devicemapper"

ExecStart=/usr/bin/dockerd -D \
  $DOCKER_OPTS $DOCKER_OPT_BIP $DOCKER_OPT_MTU -H unix:///var/run/docker.sock \
  $DOCKER_OPT_DNS $DOCKER_OPT_DNS_SEARCH \
  $DOCKER_OPT_STORAGE_DRIVER

ExecReload=/bin/kill -s HUP $MAINPID

LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Delegate=yes

[Install]
WantedBy=multi-user.target