{
  "identities": [
{% for org in allpeerorgs %}
    {
      "role": {
        "name": "member",
        "mspId": "{{ org }}"
      }
    }{{ "," if not loop.last else "" }}
{% endfor %}
  ],
  "policy": {
    "1-of": [
{% for i in range(allpeerorgs | length) %}
      {
        "signed-by": {{ i }}
      }{{ "," if not loop.last else "" }}
{% endfor %}
    ]
  }
}